# macOS
.DS_Store
*.swp

# Xcode
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Packages/

# Tooling
.sourcery-cache/
.swiftlint-cache
.mint/
